<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXFNdPwLp7koupHPAWhIitRAoRYV0U4e4</string>
	<key>GCM_SENDER_ID</key>
	<string>607897146735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ownhouse.customer</string>
	<key>PROJECT_ID</key>
	<string>ownhouse-41045</string>
	<key>STORAGE_BUCKET</key>
	<string>ownhouse-41045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607897146735:ios:b83b67c45dc4514c95c49a</string>
</dict>
</plist>